
.font1
{
    font-family: 'Permanent Marker', cursive;
}
.myH1 {
    text-shadow:5px 5px 10px blue;

}
.mh1
{
    font-family: 'Italianno', cursive;
}
.myh2
{
    font-family: 'Arizonia', cursive;
}
.d3
{
    float: right;
}