/*!
 * Start Bootstrap - Round About (https://startbootstrap.com/template-overviews/round-about)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-round-about/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}
.img1
{
  height: 200px;
  width: 200px;
  border:2px solid #fff;
  background: url(img/tiger.png) no-repeat;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
